<!DOCTYPE html>
<html lang ="en">
    <head>
        <meta charset="utf-8">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	    <link rel="stylesheet" href="css/style.css">
       
    </head>

<body>
    
    <h1>My Library</h1>
    <hr>
    <nav>
        <a href="#">Home</a>
        <a href="#footer">Contact Us</a>
        <a href="/register " target="_blank">Register</a>
    </nav>
    <hr>
    <p class="centered-text">Welcome to my Library!</p>