<%- include('layouts/header') %> 

    <div class="container">
        <div class="row">
            <h2>Add your books!</h2>
            <form method="post" action="/index">
                <div class="mb-3">
                    <label for="title" class="form-label">Title</label>
                    <input type="text" class="form-control" id="title" aria-describedby="title" name="title">
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Description</label>
                    <input type="text" class="form-control" id="description" name="description">
                </div>
                <div class="mb-3">
                    <label for="price" class="form-label">Price</label>
                    <input type="text" class="form-control" id="price" name="price">
                </div>
                <button type="submit" class="btn btn-primary">Add Book!</button>
              </form>
        </div>
    </div>

<%- include('layouts/footer') %> 