<%- include('layouts/header') %> 

    <hr>
    <div class="container">
        <h1>Thank you for buying my book!</h1>
        <a href="index.ejs">Back to home</a>
    </div>  

<%- include('layouts/footer') %> 