<%- include('layouts/header') %> 

    <div>
        <table style="border: 5px solid #990000; border-collapse: collapse">
            <tr>
                <th rowspan="2">No.</th>
                <th rowspan="2">Book Cover</th>
                <th colspan="3">Detail</th>
                <th rowspan="2">Action</th>
            </tr>
            <tr>
                <td>Title</td>
                <td>Description</td>
                <td>Price</td>
            </tr>

            <% data.forEach(element => { %>
                <tr>
                    <td>1</td>
                    <td><img src="img/riding1.png"></td>
                    <td> <%=  element.title %> </td>
                    <td><%= element.description %> </td>
                    <td>Rp. <%= element.price %> </td>
                    <td><a href="/buy">Buy</a></td>
                </tr>
            <% }) %>
            </tr>
        </table>
    </div>
    <a href="/add" class="btn btn-primary">Add a book</a>

<%- include('layouts/footer') %> 
    