<%- include('layouts/header') %> 

        <p>Please input your personal information to register</p>
    </div>
    <div class="container" id="form-container">
        <form name="register-form">
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">First Name :</label>
                <div class="col-md-10">
                    <input type="text" value="Kevin" class="form-control" id="first-name" readonly>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Last Name :</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="last-name">
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Email</label>
                <div class="col-md-10">
                    <input type="email" class="form-control" required>
                </div>
            </div>
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">Password</label>
                <div class="col-md-10">
                    <input type="password" class="form-control" id="password" required>
                    <span>SALAH</span>
                </div>
            </div>
            
            
            <label>Gender</label><br>
            <input type="radio" value="Male">
            <label>Male</label><br>

            <input type="radio" value="Female">
            <label>Female</label><br>

            <input type="radio" value="Other">
            <label>Others</label><br>

            <label>Birthday :</label>
            <input type="date"><br>

            <label>Select a profile picture :</label>
            <input type="file"><br>

            <input type="checkbox">
            <label>Are you sure your data above is correct?</label><br>

            <input type="submit" value="Register" id="register-button">
        </form>
    </div>

<%- include('layouts/footer') %> 