table,th,td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
    }

img {
    float: left;
    width:  100px;
    height: 100px;
    object-fit: cover;
    transition: transform .2s;
    padding-top: 5%;
    padding-bottom: 5%;
    }

img:hover{
    transform: scale(1.5);
}

h1, nav{
    text-align: center;
}

.centered-text{
    text-align: center;
    font-size: 50;
}

nav{
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 35%;
    margin-right: 35%;
    font-size: 20;
}

body{
    background-color: antiquewhite;
}

a{
    text-decoration: none;
    color: black;
    transition: transform .2s;
}

a:hover{
    transform: scale(1.5);
}

td a{
    font-size: 20px;
}

footer{
    text-align: center;
    
}

a.btn{
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 100%;
    transition: transform .2s;
    background-color: brown;
    border-color: black;
}

a.btn:hover{
    transform: scale(1.1);
    background-color: brown;
    border-color: black;
}